<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Device ID</th>
      <th scope="col">Connected</th>
    </tr>
  </thead>
  <tbody>
  {% for device in devices %}
    <tr>
      <th scope="row">{{ device.tablet_id }} </th>
      <td>{{ device.device_id }}</td>
    {% if device.connected %}
        <td><img src="/static/admin/img/icon-yes.svg" alt="True"></td>
    {% else %}
        <td><img src="/static/admin/img/icon-no.svg" alt="False"></td>
    {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
