{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block page_content %}
<script src="{% static "js/new_room.js" %}"></script>
    <!-- Make sure that section is selected -->
    <script>
        document.getElementById("room_management_tab").setAttribute("class", "active")
    </script>
    <!---------------------------------------->

<!-- Modal pop up window used in order to inform that submission is sent-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center><span class="fa fa-check" style="font-size: 50px; color: green;"></span></center>
          <center><h4 class="modal-title"> Success! </h4></center>
        </div>
        <div class="modal-body">
        <p>Room successfully created!</p >
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<!--------- /Modal  -->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{  title }}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ subtitle }}
            </div>
            <br>
            <br>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-lg-offset-3">
                    <div id="form-div" class="form-group">
                        {% include "components/new_room_form.html" %}
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
</div>
<!-- /.row -->

{% endblock page_content %}
