<form action="/new_room/" method="POST">
{% if form %}
     {% load crispy_forms_tags %}
     {% crispy form %}
     {% csrf_token %}
     <br>
     <br>
     <button type="submit" class="btn btn-success" style="font-size: 20px;" autofocus>Create</button>
{% else %}
     {% csrf_token %}
    <strong>Number of agents' type</strong>
    <input class="form-control" type="number" name="nType" value="3" step="1" required>
    <br>
    <br>
    <button type="submit" class="btn btn-success" style="font-size: 20px;" autofocus>Next</button>
{% endif %}
</form>
